.About-page {
  width: 100vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.9)
}

.About-text {
  text-align: center;
  padding: 3em;
}

.carousel-container {
  width: 800px;
  height: 600px;
  margin: auto;
  clear:both;
}

.color-black {
  color: black;
}

.caption-text {
  font-size: 1.2em;
}

.before-after {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.nebsimage {
  margin: 2em;
}