
.About-page {
  margin-top: -1em;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-bottom: 10vh;
}

.About-text {
  padding: 3em;
}

.carousel-container {
  width: 800px;
  height: 600px;
  margin: auto;
}

.color-black {
  color: black;
}

.caption-text {
  font-size: 1.2em;
}

.before-after {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nebsimage {
  margin: 2em;
}

.gamimage-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.gamimage {
  padding: 2em 0;
}


@media only screen and (max-width: 720px) {
  .About-page {
    max-width: auto;
  }

  .nebsimage {
    max-width: 100vw;
  }

  .carousel-container {
    width: auto;
    height: auto;
    margin: auto;
    clear:both;
  }
  
  .gamimage-container {
    width: 100%;
  }

  .About-text {
    padding: 1.5em;
  }

  }