
.PageOne{
  height: 100vh;
  margin: auto;
}


/* Background image */
.PageOne::before {
  content: "";
  background-image: url("../images/beans.jpg");
  background-size: cover;
  position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.1;
}

.PageOne-container {
  position: relative; 
}

.PageOne-image {
  width: 45%;
  position: relative;
  left: 10%;
  top: 5vh;
  height: 75vh;
  background-image: url("../images/coffee.jpg");
  background-position: center;
  background-size: cover;
}

.PageOne-card {
  box-sizing: content-box;
  width: 40%;
  height: 55vh;
  position: absolute;
  top: 12vh;
  left: 45%;
  color: white;
  background-color: rgb(46, 46, 46);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.PageOne-card-image {
  height: 60%;
  background-image: url("../images/nebs.jpg");
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

.PageOne-card-text {
  margin: 1.8em;
}

/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {
  .PageOne {
    height: auto;
  }
  .PageOne-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
    padding: 0;
    height: auto;
  }
  .PageOne-image {
    position:relative;
    left: 0;
    top: 10vh;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .PageOne-card {
    position:initial;
    left: 10%;
    width: 100%;
    height: 100%;
  }

  .PageOne-card-text {
    padding: auto;
    margin: .8em;
    font-size: 1em;

  }

  .PageOne-card-image {
    height: 100vh;
    border-radius: 0px;
  }
}

@media screen and (max-width: 720px) {
  .PageOne-card-image {
    height: 50vh;
  }
}