.PageFour {
  padding: 5%;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "contact location"
  ;
}

.contact {
  grid-template-areas: contact;
  text-align: center;
  padding: 30px;
}

h2 {
  text-decoration: underline;
  margin: 5%;
  font-family: 'Lobster', cursive;
}

.location {
  position: relative;
  text-align: center;
  grid-template-areas: location;
  margin: 0px auto;
}


.pin {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}


@media screen and (max-width: 720px) {
  .PageFour {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "contact"
    "location";
  }
}