.PageTwo {
  background-color: black;
}

.PageTwo-container {
  display: grid;
  position: relative; 
  background-color: black;
  margin-bottom: 2%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(60vh, auto));
  grid-template-areas: "left right"
}

.PageTwo-container-image {
  grid-area: left;
  background-image: url("../images/sleepy.jpg");
  background-size: cover;
}

.PageTwo-container-text {
  grid-area: right;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin-right: 1em;
}

.PageTwo-container-text blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 10%;
}

.PageTwo-container-text p {
  text-indent: 30px;
}

.parallax-grrr {
  height: 400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
}


@media only screen and (max-width: 768px) {
  .PageTwo {
    height: auto;
  }
  .PageTwo-container {
    grid-template-columns: auto;
    grid-template-rows: 100vh;
    grid-template-areas: "up"
    "down";
  }
  .PageTwo-container-image {
    grid-area: up;
  }
  .PageTwo-container-text {
    grid-area: down;
  }

  .parallax-grrr {
    font-size: 2em;
  }
}