@font-face {
  font-family: 'cat_pawregular';
  src: url('cat_paw-webfont.woff2') format('woff2'),
       url('cat_paw-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

span.title {
  color: white;
  font-family: 'cat_pawregular' !important;
  font-size: 1.8em;
}

.nav-item {
  color: white;
  font-family: 'Lobster', cursive;
}

@media screen and (max-width: 420px) {
  span.title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1080px) {
  .nav-item {
    font-size: 1.3em;
  }
}